* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: Arial , sans-serif;
}

header {
    position: fixed;
    background-color: orange;
    left: 0;
    right: 0;
    padding: 15px 15px;
    z-index: 1;
}

main {
    padding: 75px 0;
}

footer {
    background-color: rgb(31, 33, 33);
    left: 0;
    right: 0;
    padding: 55px 15px;
}


/* LAYOUT */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-33 {
    width: calc(100%/3 - 40px);
    /* background-color: violet;
    height: 500px; */
    /* margin: 50px 0 0 0; */
    /* border: 1px solid black; */
    position: relative;
    
}



/* UTILITY */

.bg-green {
    background-color: rgb(25, 170, 66);
}

.bg-red {
    background-color: red;
}


.py {
    padding: 50px 0;
}


.img-prodotto {
    height: 500px;
}


.img-hover {
   
    height: 500px;
    display: none;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.margin-right {
    margin-right: 70px;
}
.margin-left {
    margin-left: 60px;
}


/* STYLE BOOLANDO */

.color-red {
    color: red;
    font-weight: 700;
}

.line-through {
    text-decoration: line-through;
}

.discount-label {
    position: absolute;
    bottom: 100px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
}


.eco {
    position: absolute;
    bottom: 100px;
    left: 60px;
    color: white;
    font-weight: 700; 
    padding: 5px 10px;
}

.eco-left0 {
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white; 
    font-weight: 700;
    padding: 5px 10px;
}

.black-heart {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
    background-color: white;
    padding: 0 10px;
    display: none;
}



/* HEADER LAYOUT */


.col25 {
    width: 25%;
}

.col50 {
    width: 50%;
    text-align: center;
}

.img-logo {
    width: 150px;
}

.unstyled-list{
    list-style-type: none;
    
}

.unstyled-list li a {
   text-decoration: none;
   color: white;
   font-weight: 700;
   padding: 0 4px;
    
}

.unstyled-list li {
    display: inline-block;
    padding: 5px 0;
 
}

/* HOVER */


.container:hover .black-heart {
    display: block;
}

.img-hover {
    display: none;
}

.content:hover .img-prodotto {
    display: none;
}

.content:hover .img-hover {
    display: inline-block;
}

.black-heart:hover {
    color: red;
}
