* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: Arial , sans-serif;
}

header {
    position: fixed;
    background-color: orangered;
    left: 0;
    right: 0;
    padding: 25px 15px;
    z-index: 1;
}

footer {
    background-color: rgb(31, 33, 33);
    left: 0;
    right: 0;
    padding: 55px 15px;
}


/* LAYOUT */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-33 {
    width: calc(100%/3 - 40px);
    /* background-color: violet;
    height: 500px; */
    margin: 50px 0 0 0;
    /* border: 1px solid black; */
    position: relative;
    
}

/* UTILITY */

.bg-green {
    background-color: rgb(25, 170, 66);
}

.bg-red {
    background-color: red;
}


.py {
    padding: 50px 0;
}


.img-prodotto {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.img-hover {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: none;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

/* STYLE BOOLANDO */

.color-red {
    color: red;
    font-weight: 700;
}

.line-through {
    text-decoration: line-through;
}

.discount-label {
    position: absolute;
    bottom: 100px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
}

.eco {
    position: absolute;
    bottom: 100px;
    left: 60px;
    color: white;
    font-weight: 700; 
    padding: 5px 10px;
}

.eco-left0 {
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white; 
    font-weight: 700;
    padding: 5px 10px;
}

.black-heart {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 30px;
    background-color: white;
    padding: 0 10px;
    display: none;
}


/* HOVER */


.container:hover .black-heart {
    display: block;
}

.img-hover {
    display: none;
}

.content:hover .img-prodotto {
    display: none;
}

.content:hover .img-hover {
    display: block;
}

